body {
    background-color: rgb(218, 204, 86);
}

.newDiv {
    width: 300px;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transition: .5s;
}

.newDiv img {
    width: 100%;
    transition: .6s;

}

.newDiv h4 {
    padding: 10px;
    text-align: center;
    background-color: white;
}

.newDiv:hover {
    box-shadow: 2px 2px 5px rgb(105, 105, 105);
}

.newDiv:hover img {
    transform: scale(1.1);

}

#image-div {
    overflow: hidden;
}

.main-box {
    transition: .5s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showNone {
    display: none;
}

#showNone h2 {
    text-align: center;
    color: rgb(139, 139, 139);
}

.item-details {
    padding-left: 10px;
}

#display-none {
    text-align: center;
}